a {
  cursor: hand;
  cursor: pointer;
}

body {
 background: url(../images/burlington_map.jpg) repeat fixed;
 background-size: 100%;
 margin: 0;
 padding: 0;
 text-align: center;
}

#banner {
  background: -moz-linear-gradient(left,  rgba(0,0,0,1) 24%, rgba(0,0,0,0.64) 51%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(24%,rgba(0,0,0,1)), color-stop(51%,rgba(0,0,0,0.64)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 24%,rgba(0,0,0,0.64) 51%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,1) 24%,rgba(0,0,0,0.64) 51%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,1) 24%,rgba(0,0,0,0.64) 51%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,1) 24%,rgba(0,0,0,0.64) 51%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  text-align: left;
  padding: 5px;
  margin: 0;
}

#department {
  position: absolute;
  color: #CC0000;
  font-family:Engravers MT sans-serif;
  font-size: 30px;
  top: 36px;
  left: 220px;
}

.deplink a:visited { color: #CC0000; text-decoration: none; background: transparent;}
.deplink a:link { color: #CC0000; text-decoration: none; background: transparent;}
.deplink a:active { color: #CC0000; text-decoration: none; background: transparent;}
.deplink a:hover { color: #66FF00; text-decoration: none; background: transparent;}
#banner img{
  border: none;
}

#menu {
  float: right;
  position: relative;
  top: -15px;
  text-align: right;
  padding: 0;
  padding-right: 10px;
}

#menu ul {
list-style-type:none;
padding: 0;
padding-bottom: 0px;
}

#menu li {
  margin-left: 10px;
  display: inline-block;
  padding: 0;
}

.menubutton {
	-moz-box-shadow: 5px 5px 6px -3px #3d3d3d;
	-webkit-box-shadow: 5px 5px 6px -3px #3d3d3d;
	box-shadow: 5px 5px 6px -3px #3d3d3d;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c70000), color-stop(1, #820000) );
	background:-moz-linear-gradient( center top, #c70000 5%, #820000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c70000', endColorstr='#820000');
	background-color:#c70000;
	display:inline-block;
	color:#ffffff;
	font-family:Engravers MT sans-serif;
	font-size:17px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #3d3d3d;
    margin: 0;
}
.menubutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #820000), color-stop(1, #c70000) );
	background:-moz-linear-gradient( center top, #820000 5%, #c70000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#820000', endColorstr='#c70000');
	background-color:#820000;
}
.menubutton:active {
	position:relative;
	top:1px;
}

table{
    border: thin solid black;
    display: inline-block;
    text-align: left;
    padding: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
td{
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;

}

.nowplaying{
  border: none;
  background-color: rgba(0, 0, 0, .3)
}

  .header{
    font-weight: bolder;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
   .nowheader{
    font-weight: bolder;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

  }
  .now{
    background-color:rgba(17, 194, 0, 0.4);

  }
  .now td{
    padding: 10px;
    border: thin solid black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
  }

  .list tr:nth-child(even) {background: rgba(0, 0, 0, 0)}
  .list tr:nth-child(odd) {background: rgba(255, 255, 255, .5)}

.centercontent {
  padding: 10px;
  text-align: center;
  display: inline-block;
  margin: auto;
  background-color: rgba(80, 80, 80, .5);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
