/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

body {
 background: url(../../images/burlington_map.jpg) repeat fixed;
 background-size: 100%;
 margin: 0;
 padding: 0;
 text-align: center;
}

#banner {
  background: -moz-linear-gradient(left,  rgba(0,0,0,1) 24%, rgba(0,0,0,0.64) 51%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(24%,rgba(0,0,0,1)), color-stop(51%,rgba(0,0,0,0.64)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 24%,rgba(0,0,0,0.64) 51%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,1) 24%,rgba(0,0,0,0.64) 51%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,1) 24%,rgba(0,0,0,0.64) 51%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,1) 24%,rgba(0,0,0,0.64) 51%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  text-align: left;
  padding: 5px;
  margin: 0;
}

.cartpic {
  float: right;
}

.thumbnail{
position: relative;
z-index: 0;
}

.thumbnail:hover{
background-color: transparent;
z-index: 50;
}

.thumbnail span{ /*CSS for enlarged image*/
position: absolute;
background-color: lightyellow;
padding: 5px;
top: -100px;
left: -1000px;
border: 1px solid Black;
visibility: hidden;
color: black;
text-decoration: none;
max-height: 350px;
max-width: 350px;
}

.thumbnail span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
max-height: 350px;
max-width: 350px;
}

.thumbnail:hover span{ /*CSS for enlarged image on hover*/
visibility: visible;
top: -100;
left: 60px; /*position where enlarged image should offset horizontally */
max-height: 350px;
max-width: 350px;
}
.cursor{
  cursor: hand;
  cursor: pointer;
}

.bigwhite {
  color: #FFFFFF;
  font-family: Arial;
  font-size: 20px;
}

.bigblack {
  color: #000000;
  font-family: Arial;
  font-size: 16px;
}

.bigblack2 {
  color: #000000;
  font-family: Arial Black;
  font-size: 16px;
}


.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow: 0px 5px 10px 1px #6e6e6e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	color:#333333;
    width: 210px;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:10px;
    text-align: center;
	text-decoration:none;
	text-shadow:1px 1px 2px #000000;
    cursor: hand;
    cursor: pointer;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.button:active {
	position:relative;
	top: 2px;
}

.button2 {
	-moz-box-shadow: 0px 5px 10px 1px #6e6e6e;
	-webkit-box-shadow: 0px 5px 10px 1px #6e6e6e;
	box-shadow: 0px 5px 10px 1px #6e6e6e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0b8500), color-stop(1, #003803) );
	background:-moz-linear-gradient( center top, #0b8500 5%, #003803 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0b8500', endColorstr='#003803');
	background-color:#0b8500;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	color:#ffff00;
    width: 210px;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:10px;
    text-align: center;
	text-decoration:none;
	text-shadow:1px 1px 2px #000000;
    cursor: hand;
    cursor: pointer;
}
.button2:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #003803), color-stop(1, #0b8500) );
	background:-moz-linear-gradient( center top, #003803 5%, #0b8500 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#003803', endColorstr='#0b8500');
	background-color:#003803;
}
.button2:active {
	position:relative;
	top: 2px;
}