/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

body {
 background: url(../../images/burlington_map.jpg) repeat fixed;
 background-size: 100%;
 margin: 0;
 padding: 0;
 text-align: center;
}
A:visited { color: #660066; text-decoration: none; background: transparent;}
A:link { color: #660066; text-decoration: none; background: transparent;}
A:active { color: White; text-decoration: none; background: transparent;}
A:hover { color: orange; text-decoration: none; background: transparent;}
a {
    cursor: pointer;
    cursor: hand;
}
p {
  font-family: Arial;
  font-weight: bold;
  text-align: center;
}
