input[text]:focus { background-color: #33FFCC; }
body {
  background-color: #FFFFFF;
  margin: 0;
    }

h1 {
		font-family:Arial, Helvetica, sans-serif;
		font-size:24px;
		color:#CE1326;
        text-align: center;
	}


h2 { 
		text-align:center;
		margin: 2px;
		font-family:Arial, Helvetica, sans-serif;
		line-height:0px;
}
h3 { 
		color:#999933;
		text-align:center;	
}
